.App{
  margin: 100px;
  text-align: -webkit-center;
  font-family: 'Inter', sans-serif;;
}

.title{
  padding-bottom: 10px;
  font-weight: 600;
}

.searchInput{
  font-weight: 400;
}

.containerInput{
  width: 500px;
}

.gridContainer{
  display: grid;
  grid-template-columns: 250px 250px;
}